header
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    background-color: rgba(128, 204, 151, 0.76);
    border-radius: 0 0 40px 40px;
    
}

.logo
{
    align-items: center;
    
}


.logo a 
{
    display: flex;
    font-size: 60px;
    font-weight: 200;
    color: var(--color-3);
}

.logo div
{
 font-size: 35px;
 font-weight: 150; 
 color: var(--color-1);  
 position: relative;
 top: 40px;
}

.navbar
{
 display: flex;
 align-items: center;
 background-color: #BEDE9F ;
 border-radius: 40px 0 ;
 height: auto;

}

.navbar a
{
 padding: 15px;
 margin: 7px;
 font-size: 20px;
 font-weight: 50;
 transition: all ease; 
 &:hover 
 {
    transform: scale(1.10);
    background-color: var(--color-5);
    border-radius: 25px;
    margin: 8px;
}
}

#menu-icon
{
   font-size: 35px;
    color: var(--text-color-bl);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: all .50s ease;
    }

}

@media (max-width: 1150px) 
{
    #menu-icon{
        display: block;
    }   

    .navbar{
        position: absolute;
        top: 100%;
        right: -10001%;
        width: 300px;
        height: auto;
        background: #BEDE9F ;;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50ms ease;
        border-radius: 0 0 20px 20px;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .500ms ease;
    }
   
    .navbar a.active{
        color: var(--color-1);
    }

    .navbar.open{
        right: 2%;
    }
    .logo
    {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0 0 10px;
    }

    .logo a 
    {
        font-size: 80px;
        font-weight: 250;
        color: var(--color-3);
    }
    
    .logo span
    {
     font-size: 45px;
     font-weight: 10; 
     color: var(--color-1);  
    }
}